
    .btn {
        height: auto;
        outline: none;
        cursor: pointer;
        position: relative;
        z-index: 0;
        padding: 14px 0;
        font-size: 34px;
        letter-spacing: 1.5px;
        margin: 0 0 10px 0;
        width: 100%;
        max-width: 370px;
        font-weight: 900;
        border-radius: 50px;
        background: linear-gradient(150deg, #23b424, #02fd03);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        text-shadow: -0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        border-width: 1px 2px 3px 2px;
        border-style: solid;
        border-color: #4a5dff;
        border-top-color: #047c34;
        border-right-color: #e95929;
        border-left-color: #e95929;
        text-decoration: none;
    }

    .btn {
        animation: 1s ease-out 1s 1 pulse;
        -webkit-animation: 1s ease-out 1s 1 pulse;
        -moz-animation: 1s ease-out 1s 1 pulse;
    }

    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn:active:hover,
    .btn:active:focus,
    .btn:hover:focus {
        background: linear-gradient(150deg, #1b971b, #08db09);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
        border-width: 1px 2px 3px 2px;
        border-style: solid;
        border-color: #4a5dff;
        border-top-color: #047c34;
        border-right-color: #e95929;
        border-left-color: #e95929;
        color: #ffffff;
        outline: none;
    }

    button .button-submit {
        margin-top: 30px;
    }

    .landing-wrap .btn-main {
        margin: 15px 0 10px 0;
    }


    .btn-blue-qa {
        min-width: 120px;
        position: relative;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 15px;
        margin: 30px 25px;
        font-size: 140%;
        font-weight: 600;
        transition: 0.5s;
    }

    .btn-blue-qa {
        border: 5px solid #3498db;
        color: #3498db;
    }

    .btn-blue-qa:hover {
        background-color: #258cd1;
        border: 5px solid #4aa3df;
        color: #ecf0f1;
        cursor: pointer;
    }


    @import url("bootstrap.min.css");


    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    .content__item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    .button {
        pointer-events: auto;
        cursor: pointer;
        background: #e7e7e7;
        border: none;
        padding: 2.5rem 5rem;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: inline-block;
        color: #ACB277;
        font-size: 2.5em;
        text-shadow: -0.5px 2px 1px rgba(0, 0, 0, .5);
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .button::before,
    .button::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .button--hati {
        border-radius: 50%;
        overflow: hidden;
        border-width: 1px 2px 3px 2px;
        border-style: solid;
        border-color: #4a5dff;
        border-top-color: #047c34;
        border-right-color: #e95929;
        border-left-color: #e95929;
        background: none;
        font-family: aktiv-grotesk-extended, sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    .button--hati:hover {
        background: none;
        text-decoration: none;
    }

    .button--hati::before {
        animation: rotateIt 10s linear infinite;
        background-image: url("");
        content: '';
        width: 300%;
        height: 300%;
        top: -100%;
        left: -100%;
        z-index: -1;
        opacity: 0;
        transform-origin: 50% 50%;
        transition: opacity 0.3s;
    }

    @keyframes rotateIt {
        to {
            transform: rotate(-360deg);
        }
    }

    .button--hati::before {
        opacity: 0.5;
    }

    .button--hati span {
        display: block;
        position: relative;
        z-index: 1;
    }
    .block-btn {
        display: flex;
        align-items: center;
        column-gap: 25px;
    }
    .btn {
        height: auto;
        outline: none;
        cursor: pointer;
        position: relative;
        z-index: 0;
        padding: 14px 0 12px;
        font-size: 28px;
        letter-spacing: 1.5px;
        margin: 25px 0 10px 0;
        width: 100%;
        max-width: 370px;
        font-weight: 900;
        border-radius: 50px;
        background: linear-gradient(150deg, #23b424, #02fd03);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        text-shadow: -0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        /*border-width: 1px 2px 3px 2px;
        border-style: solid;
        border-color: #4a5dff;
        border-top-color: #047c34;
        border-right-color: #e95929;
        border-left-color: #e95929;*/
        text-decoration: none;
    }



    .btn {
        animation: 1s ease-out 1s 1 pulse;
        -webkit-animation: 1s ease-out 1s 1 pulse;
        -moz-animation: 1s ease-out 1s 1 pulse;
    }

    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn:active:hover,
    .btn:active:focus,
    .btn:hover:focus {
        background: linear-gradient(150deg, #1b971b, #08db09);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
        /*border-width: 1px 2px 3px 2px;
        border-style: solid;
        border-color: #4a5dff;
        border-top-color: #047c34;
        border-right-color: #e95929;
        border-left-color: #e95929;*/
        color: #ffffff;
        outline: none;
    }

    .btn-red {
        background: linear-gradient(150deg, #EB4C42, #CA4339);
    }
    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active,
    .btn-red:active:hover,
    .btn-red:active:focus,
    .btn-red:hover:focus {
        background: linear-gradient(0deg, #EB4C42, #CA4339);
        
    }

    button .button-submit {
        margin-top: 30px;
    }

    .landing-wrap .btn-main {
        margin: 15px 0 10px 0;
    }


    .btn-blue-qa {
        min-width: 120px;
        position: relative;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 15px;
        margin: 30px 25px;
        font-size: 140%;
        font-weight: 600;
        transition: 0.5s;
    }

    .btn-blue-qa {
        border: 5px solid #3498db;
        color: #3498db;
    }

    .btn-blue-qa:hover {
        background-color: #258cd1;
        border: 5px solid #4aa3df;
        color: #ecf0f1;
        cursor: pointer;
    }


    @import url("bootstrap.min.css");


    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    .content__item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    .button {
        pointer-events: auto;
        cursor: pointer;
        background: #e7e7e7;
        border: none;
        padding: 2.5rem 5rem;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: inline-block;
        color: #ACB277;
        font-size: 2.5em;
        text-shadow: -0.5px 2px 1px rgba(0, 0, 0, .5);
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    .button::before,
    .button::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .button--hati {
        border-radius: 50%;
        overflow: hidden;
        border-width: 1px 2px 3px 2px;
        border-style: solid;
        border-color: #4a5dff;
        border-top-color: #047c34;
        border-right-color: #e95929;
        border-left-color: #e95929;
        background: none;
        font-family: aktiv-grotesk-extended, sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    .button--hati:hover {
        background: none;
        text-decoration: none;
    }

    .button--hati::before {
        animation: rotateIt 10s linear infinite;
        background-image: url("");
        content: '';
        width: 300%;
        height: 300%;
        top: -100%;
        left: -100%;
        z-index: -1;
        opacity: 0;
        transform-origin: 50% 50%;
        transition: opacity 0.3s;
    }

    @keyframes rotateIt {
        to {
            transform: rotate(-360deg);
        }
    }

    .button--hati::before {
        opacity: 0.5;
    }

    .button--hati span {
        display: block;
        position: relative;
        z-index: 1;
    }